# Virtual Environment
.venv/
venv/
ENV/

# Local Environment Credentials
.env

# Vector Database storage
vector_store/

# Python Cache and Builds
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/
build/
dist/
*.egg-info/
